
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <strong>Here are some albums for you...</strong>

  <div class="row">
    <div class="col-md-4" *ngFor = "let album of this.albumData"> 
      <div class="thumbnail">
        
        <a [routerLink]="['/album', album.id]">
          <img [src] = "this.SERVER_BASE_URL +  album.cover_photo" style="width:100%">
        </a>
          <div class="caption">
            <p>Description: {{album.description}}</p>
            <p>By: {{album.owner.username}}</p>

            <a><i class="material-icons" (click)="likeAlbum(album.id)">thumb_up</i></a>
            <a><i class="material-icons-outlined" (click)="unlikeAlbum(album.id)">thumb_up</i></a>
               
            
            <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false"></mat-icon>
            <mat-icon svgIcon="thumbs-down" aria-hidden="false"></mat-icon> -->
            
          </div>
        
      </div>
    </div>  
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<img src="..." class="img-fluid" alt="Responsive image">
</body>
</html> -->
