
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
      <strong>Here are some albums for you...</strong>

      <div class="row">
        <div class="col-md-4" *ngFor = "let album of this.albumData"> 
          <div class="thumbnail">
              
            <a [routerLink]="['/album', album.id]">
              <img [src] = "this.SERVER_BASE_URL +  album.cover_photo" style="width:100%">
            </a>
            <div class="caption">
              <p>Description: {{album.description}}</p>
              <p>By: {{album.owner.username}}</p>
              <a><i class="material-icons" (click)="likeAlbum(album.id)">thumb_up</i></a>
              <a><i class="material-icons-outlined" (click)="unlikeAlbum(album.id)">thumb_up</i></a>
            </div>
              
          </div>
        </div>  
      </div>
    </div>
</body>
</html>