.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  
  .container{
    padding-top:30px;
    margin: auto;
  }

  input {
    width: 50%;
  }